@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Recipe

<h2>Delete a ingredient</h2>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.RecipeId)
  @Html.Label("Select ingredient")
  @Html.DropDownList("IngredientId")

  <input type="submit" value="Delete" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>