@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Recipe

<h2>Delete a recipe</h2>


@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.RecipeId)

  @Html.Label("Select recipe")
  @Html.DropDownList("RecipeId")

  <input type="submit" value="Delete" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>